git+git://github.com/Rapptz/discord.py.git@async#egg=discord
git+git://github.com/dead-beef/markovchain.git
git+git://github.com/praw-dev/praw.git
git+git://github.com/Zenrac/TextToOwO.git
beautifulsoup4==4.7.1
romanize3